<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>outlook</th>
      <th>play</th>
      <th>temperature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>sunny</td>
      <td>no</td>
      <td>hot</td>
    </tr>
    <tr>
      <td>sunny</td>
      <td>no</td>
      <td>hot</td>
    </tr>
    <tr>
      <td>overcast</td>
      <td>yes</td>
      <td>hot</td>
    </tr>
    <tr>
      <td>rainy</td>
      <td>yes</td>
      <td>mild</td>
    </tr>
    <tr>
      <td>rainy</td>
      <td>yes</td>
      <td>cool</td>
    </tr>
    <tr>
      <td>rainy</td>
      <td>no</td>
      <td>cool</td>
    </tr>
    <tr>
      <td>overcast</td>
      <td>yes</td>
      <td>cool</td>
    </tr>
    <tr>
      <td>sunny</td>
      <td>no</td>
      <td>mild</td>
    </tr>
    <tr>
      <td>sunny</td>
      <td>yes</td>
      <td>cool</td>
    </tr>
    <tr>
      <td>rainy</td>
      <td>yes</td>
      <td>mild</td>
    </tr>
    <tr>
      <td>sunny</td>
      <td>yes</td>
      <td>mild</td>
    </tr>
    <tr>
      <td>overcast</td>
      <td>yes</td>
      <td>mild</td>
    </tr>
    <tr>
      <td>overcast</td>
      <td>yes</td>
      <td>hot</td>
    </tr>
    <tr>
      <td>rainy</td>
      <td>no</td>
      <td>mild</td>
    </tr>
  </tbody>
</table>